################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ManejadorDePresupuestos/.vs
/TareasMVC/.vs/TareasMVC/FileContentIndex
/TareasMVC/TareasMVC/bin/Debug/net8.0
/TareasMVC/TareasMVC/TareasMVC.csproj.user
