@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Bienvenido"]</h1>
    <p>@localizer["Aprende mas"]
</div>

<div>
    <h3>@ViewBag.Saludo, Felipe</h3>
</div>

<button onclick="mostrarError()">
    Mostrar error
</button>

@section Scripts {
    <script src="~/js/utili.js"></script>
}