@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte diario";
}

<h1>Transacciones Usuario</h1>

<partial name="_SubMenu" model="SubMenuTransacciones.Diario" />
<div>
    <a class="btn btn-primary mb-3" asp-action="Crear">Crear nueva transaccion</a>
</div>

<partial name="_ReporteTransaccionesDetalladas" />