@model IEnumerable<Transaccion>

@{
    ViewData["Title"] = "Vista Transacciones";
}

<h1>Transacciones Usuario</h1>
<h5>vista con todas las transacciones del usuario</h5>

<a asp-action="Crear" class="btn btn-primary">Crear</a>