@model Categoria
@{
	ViewData["Title"] = "Editar Categoria";
}

<h1>Edicion de Categoria</h1>
<h5>La categoria a editar es: @Model.Nombre</h5>


<form asp-action="Editar">
	<input type="hidden" asp-for="Id" />
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="mb-3">
		<label asp-for="Nombre" class="form-label"></label>
		<input asp-for="Nombre" class="form-control" />
		<span asp-validation-for="Nombre" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="TipoOperacionID" class="form-label"></label>
		<select asp-for="TipoOperacionID" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select"></select>
		<span asp-validation-for="TipoOperacionID" class="text-danger"></span>
	</div>

	<button class="btn btn-primary" type="submit">Enviar</button>
	<button class="btn btn-secondary" asp-action="Index">Cancelar</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial"></partial>
}